*{
    color: black;
}
h1{
    color:white;
}
.add-todo{
    .textbox{
        width: 315px;
        height: 26px;
        color: black;
    }
    button{
        color: black;
        height: 32px;
        text-align: center;
        justify-content: center;
        margin-left: 5px;
        padding: 2px 22px 30px 22px;
        border-radius: 5px;
        font-size: 20px;
        background-color: #00d1ff;
        &:hover{
            background-color: #ff5959;
            transition: .2s;
        }
    }
}
$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    h1{
        display:flex
        
    }
    .add-todo{
      .textbox{}
      button{
        width: 30%;
        margin-top: 10px;
        position: relative;
        display: block;
        left: 34%;
      }
    }
}
